*{
 	box-sizing: border-box;
}

body {
	font-family: Arial;
 	background:#FAFAFA;
 	margin:0px;
}

.header{
	width: 100%;
	height: 70px;
	background-color:#fff;
}

.leftheader{
	background-color: #fff;
	float: left;
	width: 15%;
	height: 70px;
}

.midheader{
	width: 65%;
	float: left;
	height:70px;
	background-color: #fff;
	padding-left:170px;
	padding-top: 22px;
}

input[name=search]{
	background-color: #fff;
	background-image: url(../images/3.png); 
	background-position: 583px 0px;
	background-size: 10%;
	background-repeat: no-repeat;
	padding-left: 10px;
	font-size: 15px;
	width: 650px;
	height: 28px;
	border:solid;
	border-radius: 2px;
	border-color: #d0d0d0;
	border-width: 1px;
}



.rightheader{
	float: right;
	height: 70px;
	background-color: #fff;
	width: 20%;
	padding-left: 5px;
}

.content{
	background-color:#fafafa;
	width: 100%;
	padding:0px;
	padding-left: 30px;
	padding-top: 30px;
}

.leftpanel{
	float: left;
	width: 63%;
  	background-color:#fafafa;  
  	padding-left: 35px;
}

.leftpanel iframe{
	width:96%;
	height: 488px;
}

.mid{
	width: 100%;
	background-color:#fafafa; 
	padding-bottom: 8px;
	padding-top: 2px;
	padding-right:35px;	
}

.blue{
	background-color: #fafafa;
}

.blue pre{
	padding-top: 16px;
	background-color:#fafafa; 
	font-size: 15px;
	color:#065FD4;
}

.name{
	background-color:#fafafa;
}
.name h4{
	font-size:22px; 
	color: #0D0D0D;
}

.math p{
	color: #606060;
	font-size: 18px;
}

.who{
	background-color:#fafafa;
	height: 205px;
	margin-right: 35px;
	padding-top: 5px;
}

.peo{
	float: left;
	width: 10%;
	background-color:#fafafa; 
	height: 225px;
}


.word{
	background-color: #fafafa;
	padding-left: 10px;
	float: left;
	width: 55%;
	height: 225px;
	color: 
}

.bell{
	float: right;
	width: 35%;
	background-color:#fafafa;
	height: 225px;
}

.word h4{
	color:#696969;
}

.message{
	margin-top: 24px;
	margin-bottom: 32px;
	background-color:#fafafa;
	border-top-style: solid;
	border-width:1.5px;
	border-color: #E0E0E0;
	margin-right: 35px;
}


.rightpanel{
	background-color: #fafafa;
	float: right;
	width: 37%;
	padding-right: 35px;
}

.righttop{
	height: 325px;
	background-color:#FAFAFA;
}

.bell button{
	background-color: #d2d2d2;
	height: 50px;
	width: 90px;
	color:#606060;
	font-size: 18px;
	border-style: none;
	margin-left: 120px;
	margin-top: 13px;
	border-radius:5%;
}

.bell img{
	float: right;
	padding-top: 13px; 
}

.tap{
	width: 100%;
}

.ya{
	width: 15%;
	float: left;
	color:#0D0D0D;
	background-color: #fafafa;
}

.ya2{
	background-color: #fafafa;
	width: 85%;
	float: left;
	color:#606060;
}

.ya2 img{
	float: left;
	padding-top: 6px;
}

.who2{
	float: left;
	width: 10%;
	padding-top: 20px;
}

.puls{
	width: 90%;
	float:left;
	border-bottom-style: solid;
	border-color: #E0E0E0;
	border-width: 1.5px;
	font-size: 18px;
	color: #606060;
}

.bottommessage{
	background-color:#FAFAFA;
	height: 900px;
	float: left;
	width:100%;
}

.people{
	width: 100%;
	height: 200px;
}

.picture{
	width: 10%;
	float: left;
}

.name3{
	width: 90%;
	float: left;
	background-color:#FAFAFA;
}

.real{
	width: 17%;
	float: left;
	color:#0D0D0D;
	padding-top: 5px;
}

.time{
	float: left;
	color:#606060;
	padding-top: 5px;
}

.realword{
	float:left;
	width: 100%;
	background-color:#FAFAFA;
}

.realword pre{
	font-size: 18px;
}

.good{
	width: 100%;
	float: left;

}

.good img{
	float: left;
}

.like{
	float: left;
	width: 10%;
	color: #606060;
}

.like img{
	float: left;
	margin-top:6px;
}

.unlike{
	width: 10%;
	float: left;
}

.unlike img{
	float: left;
}

.wulike{
	width: 80%;
	float: left;
}

.wulike img{
	float: left;
}

.wulike pre{
	font-size: 16px;
	color:#606060;
}

.math{
	width: 100%;
	height:60px;
}

.math1{
	width: 50%;
	float: left;
	background-color:#fafafa;
	height:60px;
	border-bottom-style:solid;
	border-width: 1.5px;
	border-color:#E0E0E0;
}

.good1{
	float: right;
	width:50%; 
	background-color:#fafafa;
	height:60px;
	border-bottom-style:solid;
	border-width: 1.5px;
	border-color:#E0E0E0;
}

.like1{
	border-bottom-style:solid;
	border-color:#909090;
	border-width:2px;
	float: left;
	width: 20%;
	height:60px;
}

.like2{
	width: 20%;
	float: left;
	height:60px;
}

.like1 img{
	float: left;
}

.like2 img{
	float: left;
}

.like1 p{
	font-size:15px;
	color:#606060;
}

.like2 p{
	font-size:15px;
	color:#606060;
}

.rightmid{
	display: inline-block;
	width: 100%;
	height: 205px;
	background-color:#FAFAFA;
	border-bottom-style: solid;
	border-width: 1.5px;
	border-color:#E0E0E0; 
}

.rightmid1{
	width:70%;
	float: left;
	height: 50px;
	background-color:#FAFAFA;
}

.rightmid2{
	display: inline-block;
	width: 30%;
	float: right;
	height: 50px;
	color: #606060;
}

.rightmid2 img{
	margin-top: 20px;
	margin-right:20px;
	float: right;
}

.video{
	height: 115px;
	width: 40%;
	float: left;
}

.video iframe{
	width: 100%;
	height: 115px;
	margin-top: 15px;
}
.videoword{
	height: 115px;
	width: 60%;
	float: left;
	padding-right: 35px;
	margin: 0px;
	padding-left: 10px;
	color: #606060;
}

.wwwword{
	height: 40px;
	width: 100%;
	padding-top: 0px;

}
.videoword img{
	float:left;
}

.wwword{
	width: 100%;
	height: 20px;
	background-color: #FAFAFA;
}

.wwwword h4{
	color: #0D0D0D;
}

.wwwword, a:link, a:visited{
	text-decoration: none;
}

.wword, a:link, a:visited{
	text-decoration: none;
	color: #606060;
}

.wword1, a:link, a:visited{
	text-decoration: none;
}
.wword{
	background-color:#FAFAFA;
	width: 40%;
	float: left;
	height: 20px;
	margin: 0px;
	color: #606060;
}

.wword1{
	width: 60%;
	float: left;
	height: 20px;
	padding-top: 12px;
}

.wword1 img{
	margin-top:4px; 
}

.last{
	width: 100%;
	float:left;
}

.last1{
	width: 100%;
	height: 130px;
}
